{% extends "mhc/include/mhc_sidebar.html" %} {%block content %}
<h1 style="text-shadow: 2px 2px 8px gray">PERCENT WORKING OF GRIDDER SHIMP FEED MAHACHAI </h1>
<div class="row mt-3" >
  <div class="col">
    <h4 style="text-shadow: 2px 2px 8px gray">PULVERIZER 1</h4>
    <div class="card shadow-lg" style="width: 380px">
      <div id="chartPercentLoadShrimpMY1"></div>
    </div>
  </div>
  <div class="col">
    <h4 style="text-shadow: 2px 2px 8px gray">PULVERIZER 2</h4>
    <div class="card shadow-lg" style="width: 380px">
      <div id="chartPercentLoadShrimpMY2"></div>
    </div>
  </div>
  <div class="col">
    <h4>PULVERIZER 3</h4>
    <div class="card shadow-lg" style="width: 380px">
      <div id="chartPercentLoadShrimpMY3"></div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <h4>PULVERIZER 4</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpMY4"></div>
    </div>
  </div>
  <div class="col">
    <h4>PULVERIZER 5</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpMY5"></div>
    </div>
  </div>
  <div class="col">
    <h4>PULVERIZER 6</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpMY6"></div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <h4>PULVERIZER 7</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpMY7"></div>
    </div>
  </div>
  <div class="col">
    <h4>PULVERIZER 8</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpMY8"></div>
    </div>
  </div>
  <div class="col">
    <h4>PULVERIZER 9</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpMY9"></div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <h4>PULVERIZER 10</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpMY10"></div>
    </div>
  </div>
  <div class="col">
    <h4>PULVERIZER 11</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpMY11"></div>
    </div>
  </div>
  <div class="col">
    <h4>PULVERIZER 12</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpMY12"></div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <h4>ATOM6 1</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpAT61"></div>
    </div>
  </div>
  <div class="col">
    <h4>ATOM6 2</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpAT62"></div>
    </div>
  </div>
  <div class="col">
    <h4>ATOM6 3</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpAT63"></div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <h4>ATOM6 4</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpAT64"></div>
    </div>
  </div>
  <div class="col">
    <h4>ATOM6 5</h4>
    <div class="card shadow-lg">
      <div id="chartPercentLoadShrimpAT65"></div>
    </div>
  </div>
</div>
{%endblock content %}
