{% extends "griding/mhc/layout/base.html" %} 
{% block meta %}<meta http-equiv="refresh" content="90">{% endblock %} 
{% block title %}
Shrimp Blower Vibration Sensor
{% endblock %}
{% block content %}
<div class="row" style="margin-top: 65px">
  <!-- BLock 1 -->
  <div class="d-flex justify-content-center shadow-lg bg-light">
    <div class="col p-3">
        <div class="card text-white mb-1 gx-1 shadow-lg">
          <div class="card-header text-center bg-success fs-1" style="color: white">
            แรงสั่นสะเทือนพัดลม (BLOWER) เครื่องบด อาหารกุ้ง
          </div>
          <div class="card-body bg-light" style="color: black">
            <div class="row mt-1">
              <div class="col">
                <div class="card">
                  <h2 class="card-header text-center bg-secondary" style="color:white">โรงงานมหาชัย 2</h2>
                  <div class="card-body bg-secondary">
                    <!-- Start Row มหาชัย1 -->
                    <div class="row m-1">
                      <!-- MY1 -->
                      <div class="col">
                        <div  class="card shadow-lg">
                          <p id="chartvibrationshrimpblowerMHC2" class="text-center p-1" style="width: 100%; height:1200px; font-size:small;"></p>                               
                        </div>    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
        </div>
      </div>  
  </div>
</div>


{% endblock content%}
