body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  #chartPercentLoadShrimpMY1 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpMY2 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpMY3 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpMY4 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpMY5 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpMY6 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpMY7 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpMY8 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpMY9 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpMY10 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpMY11 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpMY12 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpAT61 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpAT62 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpAT63 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpAT64 {
    align-items: center;
    width: 100%;
    height: 500px;
  }

  #chartPercentLoadShrimpAT65 {
    align-items: center;
    width: 100%;
    height: 500px;
  }